<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cn.zs.mapper.OrdersMapper" >
  <resultMap id="BaseResultMap" type="cn.cn.zs.pojo.Orders" >
    <id column="oid" property="oid" jdbcType="INTEGER" />
    <result column="orderNo" property="orderno" jdbcType="INTEGER" />
    <result column="brandNo" property="brandno" jdbcType="VARCHAR" />
    <result column="brandName" property="brandname" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ItemInfo" type="cn.cn.zs.pojo.Item">
    <result column="brandNo" property="brandNo" jdbcType="VARCHAR"/>
    <result column="brandName" property="brandName" jdbcType="VARCHAR"/>
    <result column="times" property="times" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    oid, orderNo, brandNo, brandName, num, createTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.cn.zs.pojo.OrdersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where oid = #{oid,jdbcType=INTEGER}
  </select>
  <select id="selectDiffOrders" resultType="java.util.HashMap">
      SELECT DISTINCT(orderNo) as orderNo
      FROM orders
  </select>
  <select id="selectOrdersNum" resultType="java.util.HashMap">
    SELECT COUNT(DISTINCT(orderNo)) AS ordersNum
    FROM orders
  </select>
  <select id="selectItemsInfo" resultMap="ItemInfo">
      SELECT brandNo,brandName,COUNT(DISTINCT(orderNo)) AS times
      FROM orders
      GROUP BY brandNo
      ORDER BY times DESC
  </select>
  <select id="selectDiffBrands" resultType="java.util.HashMap">
    SELECT DISTINCT(brandNo),brandName
    FROM orders
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders
    where oid = #{oid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.cn.zs.pojo.OrdersExample" >
    delete from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.cn.zs.pojo.Orders" >
    insert into orders (oid, orderNo, brandNo, 
      brandName, num, createTime
      )
    values (#{oid,jdbcType=INTEGER}, #{orderno,jdbcType=INTEGER}, #{brandno,jdbcType=VARCHAR}, 
      #{brandname,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cn.zs.pojo.Orders" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        oid,
      </if>
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="brandno != null" >
        brandNo,
      </if>
      <if test="brandname != null" >
        brandName,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=INTEGER},
      </if>
      <if test="brandno != null" >
        #{brandno,jdbcType=VARCHAR},
      </if>
      <if test="brandname != null" >
        #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.cn.zs.pojo.OrdersExample" resultType="java.lang.Integer" >
    select count(*) from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orders
    <set >
      <if test="record.oid != null" >
        oid = #{record.oid,jdbcType=INTEGER},
      </if>
      <if test="record.orderno != null" >
        orderNo = #{record.orderno,jdbcType=INTEGER},
      </if>
      <if test="record.brandno != null" >
        brandNo = #{record.brandno,jdbcType=VARCHAR},
      </if>
      <if test="record.brandname != null" >
        brandName = #{record.brandname,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orders
    set oid = #{record.oid,jdbcType=INTEGER},
      orderNo = #{record.orderno,jdbcType=INTEGER},
      brandNo = #{record.brandno,jdbcType=VARCHAR},
      brandName = #{record.brandname,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cn.zs.pojo.Orders" >
    update orders
    <set >
      <if test="orderno != null" >
        orderNo = #{orderno,jdbcType=INTEGER},
      </if>
      <if test="brandno != null" >
        brandNo = #{brandno,jdbcType=VARCHAR},
      </if>
      <if test="brandname != null" >
        brandName = #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cn.zs.pojo.Orders" >
    update orders
    set orderNo = #{orderno,jdbcType=INTEGER},
      brandNo = #{brandno,jdbcType=VARCHAR},
      brandName = #{brandname,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where oid = #{oid,jdbcType=INTEGER}
  </update>
</mapper>